<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>AngularJSの練習</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src="myscript.js"></script>
  <style>
    .even { background-color: #ccc; }
    .odd { background-color: #a00; }
  </style>
</head>
<body>
  <h1>AngularJSの練習</h1>
  <div ng-controller="mainCtrl">
    <p>{{users.length}} users.</p>
    <p>{{today|date:"yyyy-MM-dd"}}</p>
    <p>{{10000.00|number:3}}</p>
    <p>{{"AVV"|lowercase}}</p>
    <p><input type="text" ng-model="query.name"></p>
    <ul>
      <li ng-repeat="user in users|filter:query" ng-class-even="'even'" ng-class-odd="'odd'" ng-controller="userItemCtrl">
      {{$index}} {{user.name|uppercase}} {{user.score|number:4}}
      <button ng-click="increment()">+1</button>
      </li>
    </ul>
  </div>
</body>
</html>
